body { background-color: #0F0F0F; color: white; font-family: Arial, Helvetica, sans-serif; font-size: 11px; margin: 0; }

a { font-weight: bold; color: white; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { text-decoration: none; }

.backpack-page, .box { zoom: 1; }
.backpack-page:after, .box:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.backpack-page { position: relative; margin-bottom: 20px; }

.box {
    border-radius: 10px;
    border: 1px solid #454545;
    position: relative;
    padding-bottom: 1em;
    background-color: #1a1a1a;
    margin: 5px;
}
.box > :not(.titlebar) { margin: 0 5px 0 5px; }
.box .titlebar {
    margin-bottom: 1em;
    text-align: left;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #454545;
    font-weight: bold;
    padding: 0.5em 0 0.5em 0;
}

.sharp-corners, .sharp-corners .titlebar { border-radius: 0; }

.box .nav-list { list-style-type: none; padding-left: 0;}
.box .nav-list li { padding: 3px; }

.box .titlebar :first-child, .box .titlebar:first-letter { margin-left: 0.5em; }
.box .item_cell { float: none; }
.box .slot-item { float: left; margin: 5px; }

#page-switcher { text-align: right; padding-right: 10px; margin-bottom: 25px; }
#page-counter { font-weight: bold; font-size: 13px; margin: 0 5px 0 5px; }

.item-description, .item-level { color: white; font-size: 1.09em; }
.item-name { overflow: hidden; font-size: 1.10em; font-weight: bold; }
.item-link { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.attribute-list { list-style: none; margin: 0; padding: 0; }
.attribute-list li { padding: 5px 0 5px 0; }
.attr-negative, .attr-negative:visited, .attr-negative:link { color: #ff0000; }
.attr-positive, .attr-positive:visited, .attr-positive:link { color: #1a82ff; }
.attr-neutral, .attr-neutral:visited, .attr-neutral:link { color: #dbdbdb; }

.prefix-unique { color: #ffd700; }
.prefix-community { color: #70b04a; }
.prefix-developer { color: #a50f79; }
.prefix-normal { color: #b2b2b2; }
.prefix-selfmade { color: #70b04a; }
.prefix-vintage { color: #476291; }
.prefix-rarity4, .prefix-haunted, .prefix-unusual, .prefix-tournament { color: #8650ac; }
.prefix-rarity1 { color: #4d7455; }
.prefix-strange { color: #cf6a32; }
.prefix-giftwrapped { color: #cf2700; }

.item_cell {
    border: 2px solid black;
    margin: 3px;
    background-color: #303131;
    background-size: 96px 96px;
    width: 96px;
    height: 96px;
    text-align: center;
    float: left;
    position: relative;
    z-index: 24;
    cursor: pointer;
    border-radius: 13px;
}
.slot-item { width: 99px; min-height: 99px; padding: 3px; }
.slot-item .item_cell { margin: 0; }
.slot-item .title { margin-bottom: 0.5em; font-weight: bold; }
.item_cell.undropped { background-color: #302323; }
.fade-overlay { z-index: 50; background-color: black; opacity: 0.70; position: absolute; top: 0; left: 0; border: 1px solid black; }
.ticker { z-index: 30; position: absolute; top: 40px; left: 40px; }

.cell-unique { border-color: #ffd700; }
.cell-community { border-color: #70b04a; }
.cell-developer { border-color: #a50f79; }
.cell-normal { border-color: #b2b2b2; }
.cell-selfmade { border-color: #70b04a; }
.cell-vintage { border-color: #476291; }
.cell-rarity4, .cell-haunted, .cell-unusual, .cell-tournament { border-color: #8650ac; }
.cell-rarity1 { border-color: #4d7455; }
.cell-strange { border-color: #cf6a32; }

.icon-particle { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: -100; }

.icon-custom-texture { position: absolute; left: 6px; bottom: 6px; width: 32px; height: 32px; }
.icon-custom-texture.large { width: 128px; height: 128px; }

.paint_splotch {
    position: absolute;
    top: 6px; left: 6px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
}
.paint_splotch.secondary {
    width: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 14px;
}

.crate-series-icon {
    background-color: #000000;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 9px;
    padding: 3px;
    border-radius: 10px;
}
.craft-number-icon { font-size: 12px; opacity: 0.60; position: relative; margin: 76px auto 0 auto; }
.cell-bot { position: absolute; text-align: right; bottom: 5px; right: 5px; }
.cell-top { position: absolute; text-align: right; top: 5px; right: 5px; }
.cell-bot > *, .cell-top > * { float: right; }
.cell-quantity { font-weight: bold; font-size: 14px; }
.tooltip { display: none; cursor: default; overflow: hidden; word-wrap: break-word; }
.tooltip div { padding: 4px; text-align: center; }
.item_cell:hover {
    background-color: #1c1c1c;
    z-index: 25;
}
.item_cell:hover .tooltip {
    display: block;
}
.tooltip {
    display: none;
    position: absolute;
    top: 80px;
    left: -5.8em;
    width: 20em;
    background-color: black;
    margin: 10px;
    margin-left: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    z-index: 30;
}

#footer {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    clear: both;
}

#content { height: 100%; text-align: center; }

#search-form-container { position: absolute; right: 30px; top: 0; width: 219px; border-radius: 10px; height: 30px; }
.motd { position: absolute; right: 270px; padding: 8px; top: 0; border-radius: 0 0 10px 10px; background-color: #1a1a1a; border: 1px solid #454545; }
.motd *, .motd { color: white; }
fieldset { border: 0; }
#search-field, #search-button {
    top: 0px;
    position: absolute;
    left: 0px;
    border-radius: 0 0 0 8px;
    background-color: #505050;
    border: 1px solid black; border-top: 0;
    color: white;
    width: 180px;
    margin: 0;
    padding: 6px;
    font-size: 14px;
}
#search-button {
    left: 194px;
    border-radius: 0 0 8px 0;
    border-left: 0;
    padding-left: 4px;
    cursor: pointer;
    width: 25px;
}

#filterbar {
    border-radius: 4px;
    background-color: #404040;
    border: 1px solid black;
    color: white;
    padding: 4px;
    font-size: 1.10em;
    line-height: 1.4;
}

#status-online, #status-lookingtoplay, #status-lookingtotrade { color: #00ff00; }
#status-offline { color: #808080; }
#status-snooze, #status-away, #status-busy { color: #2fb3ff; }

.navbar { text-align: left; height: 30px; padding: 0; margin: 0 0 50px 5px; position: relative; list-style: none; }
.navbar > li { background-color: #505050; color: white; position: relative; float: left; height: 30px; margin: 0; padding: 0; border-right: 1px solid black; }
.navbar > li:first-child { border-bottom-left-radius: 6px; } .navbar > li:last-child { border-bottom-right-radius: 6px; }
.navbar a { display: block; height: 22px; padding: 8px 10px 0 10px; white-space: nowrap; text-decoration: none; }
.navbar li:hover, .navbar li.focused { background-color: #060910; }
.navbar li:hover a, .navbar li.focused a { color: white; }
.navbar .dropdown-menu { border: 0; background-color: transparent; border-radius: 0; height: 100%;}
.navbar .dropdown-menu > a, .navbar > li > a { color: white; font-weight: bold; }

img { border: 0; }

#item_stats {
    border: 0;
    margin: 0 auto 0 auto;
    width: 800px;
    height: 600px;
}

.item-image.small { width: 96px; height: 96px; border-radius: 10px; }
.item-image.large { float: left; width: 512px; height: 512px; }
.item-image.gift-preview {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: #040011;
    border-radius: 13px;
}

.item-zoom {
    max-width: 512px;
    max-height: 512px;
    float: left;
    position: relative;
}

.item-attrs {
    float: left;
    width: 250px;
    text-align: left;
    padding: 8px 0 8px 0;
    margin-left: 30px;
    overflow: auto;
    word-wrap: break-word;
}
.item-attrs div { padding: 4px 0 4px 0; }
.stat_vertrule { float: left; }
.class-icon { width: 16px; height: 16px; vertical-align: middle; }

#backpack { width: 90%; margin: 0 auto 0 auto; clear: both; position: relative; padding-right: 200px; }
#particle-list { max-width: 900px; margin: 0 auto 0 auto; }

#attr-table { text-align: left; margin: 0 auto 30px auto; }
#attr-table th { padding: 8px; background-color: #454545; }
#attr-table td { padding: 6px; }
#attr-table tr:hover { background-color: #090610; }
tr.row-odd { background-color: #292929; }
tr.row-even { background-color: #1c1c1c; }

#header { text-align: center; clear: both; }

#logo { width: 389px; height: 126px; margin: 50px auto 50px auto; display: block; }

.link-list { list-style-type: none; padding: 0; }
.link-list li { padding: 6px 0 6px 0; }
.link-list a { font-size: 1.1em; font-family: Verdana, Arial, sans-serif; }

.dropdown-menu {
    text-align: left;
    position: relative;
    cursor: pointer;
    background-color: #444444;
    background-image: url("dropdown_arrow.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 4px;
}
.dropdown-menu:hover { background-color: #202020; }
.dropdown-menu a { color: white; display: block; padding: 5px; height: 100%; text-decoration: none; font-weight: normal; }
.dropdown-menu > a, .dropdown-menu > b { width: 100%; padding: 8px; margin-right: 15px; font-weight: bold; }
.dropdown-menu ul {
    list-style: none;
    border: 1px solid white;
    border-bottom: 0;
    display: none;
    background-color: black;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 99%;
    z-index: 30;
    min-width: 100px;
    width: 100%;
    word-wrap: break-word;
    border-radius: 3px;
}
.dropdown-menu ul li { text-align: left; border-bottom: 1px solid white; }
.dropdown-menu ul li:hover { background-color: #404040; }
.dropdown-menu:hover ul { display: block; }
.dropdown-menu ul li:first-child { border-radius: 3px 3px 0 0; }
.dropdown-menu ul li:last-child  { border-radius: 0 0 3px 3px; }

.capability-list { list-style-type: none; padding: 0; text-align: left; }
.capability-list li:first-of-type { font-weight: bold; margin-left: 0; }
.capability-list li { margin-left: 8px; }

.item-tools { padding: 5px; width: 1040px; text-align: left; margin: 0 auto 0 auto; }
.item-tools .dropdown-menu { float: left; padding: 3px; margin: 3px; }

.side-box { position: absolute; right: 0; top: 10px; background-color: #1a1a1a; border: 1px solid #454545; border-radius: 10px; width: 150px; padding-bottom: 5px; word-wrap: break-word; }
.side-box .header { background-color: #454545; width: 100%; padding: 5px 0 5px 0; margin: 10px 0 10px 0; font-weight: bold; font-size: 1.1em; }
.side-box .header:first-of-type { margin-top: 0; border-radius: 10px 10px 0 0; }
.side-box .player-badge { min-height: 70px; padding: 4px; }
.player-badge .valve { vertical-align: middle; margin-bottom: 1em; }
.side-box .item_cell { float: none; margin: 0 auto 0 auto; }

.side-box table { width: 100%; }
.side-box table tr { text-align: left; }
.side-box table td, .side-box table th { padding: 3px; }

.ui-dialog-titlebar { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.ui-dialog { padding: 0; }
.ui-button { margin: 0 3px 0 3px; }

.page-label { position: absolute; display: block; right: 98.90%; top: 30px; font-weight: bold; border-radius: 5px 0 0 5px; }

.recent-inv { table-layout: fixed; text-align: left; width: 95%; border-spacing: 0; padding-left: 5px; }
.recent-inv td:first-child { width: 24px; height: 24px; }
.recent-inv td:last-child { word-wrap: break-word; }

#rp-results { display: none; padding-top: 1em; }
#rp-results .sr { margin: 0.6em; width: 230px; text-align: left; float: left; font-size: 0.8em; }
#rp-results .sr img { vertical-align: middle; }
#rp-results .sr .avatar { width: 24px; height: 24px; margin-right: 1em; }
#rp-results .sr .loading { margin-left: 1.5em; }
#rp-results .sr a { display: block; width: 100%; }
#rp-form { margin-top: 2em; }
#rp-input { background-color: #404040; width: 220px; color: white; border: 1px solid black; padding: 0.25em; border-radius: 4px; }
#rp-input.inactive { color: #858585; }

#group-badge { background-color: #101010; color: white; width: 300px; padding-top: 1em; margin: 1em auto 0 auto; text-align: left; }
.group-name a { color: white; }
.group-link { color: #6d89d5; }
#group-badge .member-avatar { margin-left: 5px; border-radius: 5px; border: 2px solid #353535; width: 32px; height: 32px; }
#group-badge .logo { position: absolute; right: 10px; top: 10px; width: 32px; height: 32px; }
#group-badge .member-count, #group-badge .member-list { margin-top: 1em; }
