body { background: #141515; color: white; font-family: Arial, Helvetica, sans-serif; font-size: 11px; margin: 0; }

.backpack-page, .box { zoom: 1; }
.backpack-page:after, .box:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.backpack-page { position: relative; margin-bottom: 20px; }

.box {
    border-radius: 10px;
    border: 1px solid #454545;
    position: relative;
    padding: 3em 1.3em 1em 1.3em;
    background: #1a1a1a;
    margin: 5px;
}
.box .titlebar {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #454545;
    font-weight: bold;
    padding: 0.5em 0 0.5em 0;
}

.sharp-corners, .sharp-corners .titlebar { border-radius: 0; }

.box .nav-list { list-style-type: none; padding-left: 0;}
.box .nav-list li { padding: 3px; }

.box .titlebar:first-letter, .box .footerbar:first-letter { margin-left: 0.5em; }
.box .item_cell { float: none; }
.box .slot-item { margin: 0 5px 0 5px; float: left; }

#page-switcher { text-align: right; padding-right: 10px; }
#page-counter { font-weight: bold; font-size: 13px; margin: 0 5px 0 5px; }

.item-description, .item-level { color: white; font-size: 1.09em; }
.item-name { overflow: hidden; font-size: 1.10em; font-weight: bold; }
.item-link { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.attribute-list { list-style: none; margin: 0; padding: 0; }
.attribute-list li { padding: 5px 0 5px 0; }
.attr-negative, .attr-negative:visited { color: #ff0000; }
.attr-positive, .attr-positive:visited { color: #1a82ff; }
.attr-neutral, .attr-neutral:visited { color: #dbdbdb; }

.prefix-unique { color: #ffd700; }
.prefix-community { color: #70b04a; }
.prefix-developer { color: #a50f79; }
.prefix-normal { color: #b2b2b2; }
.prefix-selfmade { color: #70b04a; }
.prefix-vintage { color: #476291; }
.prefix-rarity4, .prefix-haunted { color: #8650ac; }
.prefix-rarity1 { color: #4d7455; }
.prefix-strange { color: #cf6a32; }
.prefix-giftwrapped { color: #cf2700; }

.item_cell {
    border: 2px solid black;
    margin: 3px;
    background: #505050;
    width: 96px;
    height: 96px;
    text-align: center;
    float: left;
    position: relative;
    z-index: 24;
    cursor: pointer;
    border-radius: 13px;
}
.item_cell[class~=undropped] { background: #302323; }
.item_cell[class~=faded] { background: #1f1f1f; opacity: 0.1; }

.cell-unique { border-color: #ffd700; }
.cell-community { border-color: #70b04a; }
.cell-developer { border-color: #a50f79; }
.cell-normal { border-color: #b2b2b2; }
.cell-selfmade { border-color: #70b04a; }
.cell-vintage { border-color: #476291; }
.cell-rarity4, .cell-haunted { border-color: #8650ac; }
.cell-rarity1 { border-color: #4d7455; }
.cell-strange { border-color: #cf6a32; }

.icon-gift { position: absolute; right: 38px; top: 3px; }
.icon-desc { position: absolute; right: 18px; top: 3px; }
.icon-name { position: absolute; right: 4px; top: 3px; }
.icon-particle { position: absolute; left: 6px; bottom: 6px; width: 20px; height: 20px; }
.icon-particle[class~=large] { width: 200px; height: 200px; }

.icon-custom-texture { position: absolute; left: 6px; bottom: 6px; width: 32px; height: 32px; }
.icon-custom-texture[class~=large] { width: 128px; height: 128px; }

.paint_splotch {
    position: absolute;
    top: 6px; left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
.paint_splotch[class~=secondary] {
    width: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 11px;
}

.crate-series-icon {
    background: #000000;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 9px;
    padding: 3px;
    border-radius: 10px;
}

.equipped {
    background: #000000;
    color: #ba4935;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 9px;
    padding: 2px;
    border-radius: 8px;
}
.tooltip { display: none; cursor: default; overflow: hidden; word-wrap: break-word; }
.tooltip div { padding: 4px; text-align: center; }
.item_cell:hover {
    background: #1c1c1c;
    z-index: 25;
}
.item_cell:hover .tooltip {
    display: block;
}
.tooltip {
    display: none;
    position: absolute;
    top: 80px;
    left: -5.8em;
    width: 20em;
    background: black;
    margin: 10px;
    margin-left: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    z-index: 30;
}

#footer {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    clear: both;
}

#content { height: 100%; text-align: center; }

#search-form-container { float: left; height: 100%; margin-top: 2px; }
#search-form-container fieldset { border: 0; }
#search-field {
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #353535;
    border: 1px solid black;
    color: white;
    font-style: italic;
    width: 180px;
    margin: 0;
    font-size: 14px;
}
#search-button {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid black;
    border-left: 0;
    color: white;
    background-color: #282828;
    cursor: pointer;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}

#filterbar {
    border-radius: 8px;
    background-color: #404040;
    border: 1px solid black;
    color: white;
    margin: 3px;
    padding: 2px;
}

a { font-weight: bold; color: white; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { text-decoration: none; }

#status_online { color: #00ff00; }
#status_offline { color: #808080; }
#status_snooze, #status_away, #status_busy { color: #2fb3ff; }

.navbar { background-color: #2a2a2a; text-align: left; height: 30px; width: 100%; padding: 0; margin: 0; position: relative; border-top: 1px solid black; list-style: none; }
.navbar > li { background-color: #505050; color: white; position: relative; float: left; height: 30px; margin: 0; padding: 0; border-right: 1px solid black; }
.navbar .open-space, .navbar .open-space:hover { background: none; border: none; }
.navbar a { display: block; height: 22px; padding: 8px 10px 0 10px; white-space: nowrap; text-decoration: none; }
.navbar li:hover, .navbar li.focused .dropdown-menu, .navbar li:hover .dropdown-menu { background-color: #060910; }
.navbar li:hover a, .navbar li.focused a { color: white; }
.navbar .dropdown-menu { border: 0; background-color: #505050; border-radius: 0; }
.navbar .dropdown-menu > a, .navbar > li > a { color: white; font-weight: bold; }

img { border: 0; }

#item_stats {
    border: 0;
    margin: 0 auto 0 auto;
    width: 800px;
    height: 600px;
}

.item-image[class~=small] { max-width: 96px; max-height: 96px; border-radius: 10px; }
.item-image[class~=large] { float: left; width: 512px; height: 512px; }
.item-image[class~=gift-preview] {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    background: #040011;
    border-radius: 13px;
}

.item-zoom {
    max-width: 512px;
    max-height: 512px;
    float: left;
    position: relative;
}

.item-attrs {
    float: left;
    width: 250px;
    text-align: left;
    padding: 8px 0 8px 0;
    margin-left: 30px;
    overflow: auto;
}
.item-attrs div { padding: 4px 0 4px 0; }
.stat_vertrule { float: left; }
.class-icon { width: 16px; height: 16px; }

#backpack { width: 90%; margin: 0 auto 0 auto; clear: both; position: relative; }

.row_odd { background: #353535; }
.row_even { background: #555555; }
#attrib_table tr td { padding: 6px; background: black; }
#attrib_table tr th { background: #555555; padding: 8px; }
#attrib_table { margin: 0 auto 30px auto; text-align: left; }

#header { text-align: center; clear: both; }

#avatar { top: 2px; position: absolute; width: 32px; height: 32px; left: 10px; }

#logo { width: 389px; height: 126px; margin: 50px auto 50px auto; display: block; }

.button {
    position: relative;
    display: inline;
    cursor: pointer;
    background-color: #505050;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
}
.button[class~=inactive], .button[class~=inactive]:hover, .button[class~=inactive]:active {
    background-color: #252525;
    color: gray;
    cursor: default;
}
.button[class~=clicked] { background-color: #10060F; border-color: #292929; }
.button:hover { background-color: #282828; }
.button:active { background-color: #383838; }
a.button { text-decoration: none; }
.button-list { list-style-type: none; padding: 0; }
.button-list li { padding: 6px 0 6px 0; }

.dropdown-menu {
    text-align: left;
    position: relative;
    cursor: pointer;
    background-color: #444444;
    background-image: url("dropdown_arrow.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 8px;
}
.dropdown-menu:hover { background-color: #202020; }
.dropdown-menu a { color: white; display: block; padding: 5px; height: 100%; text-decoration: none; font-weight: normal; }
.dropdown-menu > a, .dropdown-menu > b { width: 100%; padding: 8px; margin-right: 15px; font-weight: bold; }
.dropdown-menu ul {
    list-style: none;
    border: 1px solid white;
    border-bottom: 0;
    display: none;
    background: black;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 99%;
    z-index: 30;
    min-width: 100px;
    width: 100%;
}
.dropdown-menu ul li { text-align: left; border-bottom: 1px solid white; }
.dropdown-menu ul li:hover { background: #404040; }
.dropdown-menu:hover ul { display: block; }

.capability-list { list-style-type: none; padding: 0; text-align: left; }
.capability-list li:first-of-type { font-weight: bold; margin-left: 0; }
.capability-list li { margin-left: 8px; }

.item-tools { padding: 5px; width: 1040px; text-align: left; margin: 0 auto 0 auto; }
.item-tools .dropdown-menu, .item-tools .button { float: left; padding: 3px; margin: 3px; }

.side-box { position: absolute; right: 10px; background: #1a1a1a; border: 1px solid #454545; min-width: 150px; padding-bottom: 5px; word-wrap: break-word; }
.side-box .header { background: #454545; width: 100%; padding: 5px 0 5px 0; margin: 10px 0 10px 0; font-weight: bold; font-size: 1.1em; }
.side-box .header:first-of-type { margin-top: 0; }
.side-box .player-badge { min-height: 70px; padding: 4px; }
.side-box .item_cell { float: none; margin: 0 auto 0 auto; }

.side-box table { width: 100%; }
.side-box table tr { text-align: left; }
.side-box table td, .side-box table th { padding: 3px; }

.ui-autocomplete-loading { background: white url('juicss/images/ui-anim_basic_16x16.gif') right center no-repeat; }
.ui-widget-header {  border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.ui-widget { padding: 0; margin: 0 5px 0 5px; }
.ui-tabs, .ui-tabs-nav { border: 0; background: none; }
.ui-tabs-nav li { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }

.page-label { position: absolute; display: block; right: 99.5%; padding: 5px; top: 30px; border-radius: 10px 0 0 10px; }
