.item_cell { width: 100px; height: 68px; border-radius: 0; margin: 5px; }
.item-image[class~=small] { max-width: 100px; max-height: 68px; border-radius: 0; }
.crate-series-icon { left: 44.5px; top: 25.5px; }
.ticker { left: 42px; top: 26px; }
