body { background: #303030; color: white; font-family: Arial, Helvetica, sans-serif; font-size: 11px; }

.item_negative_attr { font-weight: bold; color: #ff0000; }
.item_positive_attr { font-weight: bold; color: #00ff00; }
.item_neutral_attr { font-weight: bold; color: white; }

.unique_name { color: #ffd700; font-weight: bold; }
.community_name { color: #87d459; font-weight: bold; }
.developer_name { color: #db14a0; font-weight: bold; }
.normal_name { color: #d0d0d0; font-weight: bold; }
.selfmade_name { color: #79be50; font-weight: bold; }
.vintage_name { color: #6186c5; font-weight: bold; }
.rarity4_name { color: #a965d9; font-weight: bold; }

.item_cell, .item_cell_undropped {
    border: 1px solid #000000;
    margin: 3px;
    background: #3c352e;
    width: 150px;
    height: 150px;
    padding: 10px;
    padding-left: 0;
    text-align: center;
    float: left;
    position: relative;
    z-index: 24;
    cursor: pointer;
    /* Yes I'm using non-standard properties. Better than wasting bandwidth
       with corner images */
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.item_cell_undropped { background: #302323; }

.unique_cell { border-color: #ffd700; }
.community_cell { border-color: #87d459; }
.developer_cell { border-color: #db14a0; }
.normal_cell { border-color: #d0d0d0; }
.selfmade_cell { border-color: #79be50; }
.vintage_cell { border-color: #6186c5; }
.rarity4_cell { border-color: #a965d9; }

.equipped {
    background: #000000;
    color: #ba4935;
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding: 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.item_attribs { display: none; cursor: default; overflow: hidden; }
.item_attribs div { padding: 4px; text-align: left; }
.item_cell:hover, .item_cell_undropped:hover {
    background: #5a4e42;
    z-index: 25;
}
.item_cell:hover .item_attribs, .item_cell_undropped:hover .item_attribs {
    display: block;
    position: absolute;
    top: 170px;
    width: 15em;
    background: black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
}

#footer {
    text-align: center;
    background: #202020;
    max-width: 100%;
    padding: 8px;
    clear: both;
}

#content { height: 100%; text-align: center; }

#userform { text-align: center; }
#userform table { margin: 15% auto; margin-bottom: 50px; }

a { color: #cacaca; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { text-decoration: none; color: #a9a9a9; }

#status_online { color: #00ff00; }
#status_offline { color: #808080; }
#status_snooze, #status_away, #status_busy { color: #2fb3ff; }

#navbar { background: #939393; text-align: left; max-width: 100%; padding: 8px; margin-bottom: 15px; }
#navbar a { padding: 8px 4px 8px 4px; color: white; margin-left: 16px; }
#navbar a:hover { background: #535353; text-decoration: none; }

img { border: 0; }

#item_stats {
    border: 0;
    margin: 0 auto;
    width: 800px;
    height: 600px;
}
.item_image_small { max-width: 90px; max-height: 90px; }
#item_image_large { float: left; width: 512px; height: 512px; }
#item_attrs {
    float: right;
    padding: 8px 0 8px 8px;
    width: 200px;
    text-align: left;
    margin-right: 20px;
    overflow: auto;
}
#item_attrs div { padding: 4px; }
#stat_vertrule { float: left; }

#backpack { width: 98%; margin: 0 auto 0 auto; }

.row_odd { background: #555555; }
.row_even { background: #777777; }
#search_table { margin: 0 auto 0 auto; }
#search_table tr td { padding: 6px; }
#search_title { background: #454545; text-align: center; }

#header { text-align: center; clear: both; }

#userinfo {
    border: 1px solid #000000;
    background: #505050;
    padding: 5px;
    position: relative;
    height: 90px;
    width: 300px;
    margin: 30px auto 25px auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#statbox {
    top: 10px;
    text-align: left;
    position: absolute;
    left: 70px;
    padding-left: 10px;
}

#avatar { top: 15px; position: absolute; width: 64px; height: 64px; left: 10px; }

.sortlinks { margin: 10px auto 10px auto; width: 350px; text-align: left; }
.sortlinks img { padding: 0 5px 0 5px; }
