body { background: #181818; color: white; font-family: Arial, Helvetica, sans-serif; font-size: 11px; }

.backpack-page, .loadout-box { zoom: 1; }
.backpack-page:after, .loadout-box:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 20px 0 20px 0;
}

.loadout-box {
    border-radius: 10px;
    border: 1px solid #555555;
    position: relative;
    margin: 30px;
    padding-top: 2.8em;
    padding-left: 2.8em;
}
.loadout-box .titlebar {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #555555;
    font-weight: bold;
    padding: 0.5em 0 0.5em 0;
}
.loadout-box .item_cell { float: none; }
.loadout-box .slot-item { margin: 0 5px 0 5px; float: left; }

#page-switcher { text-align: right; padding-right: 10px; }
#page-counter { font-weight: bold; font-size: 13px; margin: 0 5px 0 5px; }

.item-description, .item-level { color: white; }
.item-name { overflow: hidden; }
.attr-negative, .attr-negative:visited { color: #ff0000; }
.attr-positive, .attr-positive:visited { color: #1a82ff; }
.attr-neutral, .attr-neutral:visited { color: #dbdbdb; }

.prefix-unique { color: #ffd700; font-weight: bold; }
.prefix-community { color: #70b04a; font-weight: bold; }
.prefix-developer { color: #a50f79; font-weight: bold; }
.prefix-normal { color: #b2b2b2; font-weight: bold; }
.prefix-selfmade { color: #70b04a; font-weight: bold; }
.prefix-vintage { color: #476291; font-weight: bold; }
.prefix-rarity4 { color: #8650ac; font-weight: bold; }
.prefix-rarity1 { color: #4d7455; font-weight: bold; }
.prefix-giftwrapped { color: #cf2700; }

.item_cell {
    border: 1px solid #000000;
    margin: 3px;
    background: #3c352e;
    width: 95px;
    height: 95px;
    text-align: center;
    float: left;
    position: relative;
    z-index: 24;
    cursor: pointer;
    /* Yes I'm using non-standard properties. Better than wasting bandwidth
       with corner images */
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
}
.item_cell[class~=undropped] { background: #302323; }

.cell-unique { border-color: #ffd700; }
.cell-community { border-color: #70b04a; }
.cell-developer { border-color: #a50f79; }
.cell-normal { border-color: #b2b2b2; }
.cell-selfmade { border-color: #70b04a; }
.cell-vintage { border-color: #476291; }
.cell-rarity4 { border-color: #8650ac; }
.cell-rarity1 { border-color: #4d7455; }

.icon-gift { position: absolute; right: 53px; top: 3px; }
.icon-desc { position: absolute; right: 27px; top: 3px; }
.icon-name { position: absolute; right: 2px; top: 3px; }

.paint_splotch {
    position: absolute;
    top: 6px; left: 6px;
    font-weight: bold;
    width: 10px;
    height: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.equipped {
    background: #000000;
    color: #ba4935;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 9px;
    padding: 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.item_attribs { display: none; cursor: default; overflow: hidden; }
.item_attribs div { padding: 4px; text-align: center; }
.item_cell:hover {
    background: #5a4e42;
    z-index: 25;
}
.item_cell:hover .item_attribs {
    display: block;
}
.item_attribs {
    display: none;
    position: absolute;
    top: 92px;
    left: -5.8em;
    width: 20em;
    background: black;
    margin: 10px;
    margin-left: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    z-index: 30;
}

#footer {
    text-align: center;
    max-width: 100%;
    padding: 8px;
    clear: both;
}

#content { height: 100%; text-align: center; }

#search_form { text-align: center; }
#search_form table { margin: 30px auto 50px auto; }

a { font-weight: bold; color: white; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { text-decoration: none; }

#status_online { color: #00ff00; }
#status_offline { color: #808080; }
#status_snooze, #status_away, #status_busy { color: #2fb3ff; }

#navbar { background: #606060; text-align: left; max-width: 100%; padding: 8px; margin-bottom: 0; position: relative; border: 1px solid black; }
#navbar a { padding: 8px 4px 8px 4px; margin-left: 16px; font-weight: normal; }
#navbar a:hover { background: #535353; text-decoration: none; }
#navbar #loginlink, #navbar #loginlink:hover { position: absolute; right: 3px; top: 3px; padding: 0; margin: 0; background: #606060; }
#navbar #accountlink { font-weight: bold; position: absolute; right: 3px; top: 0; }

img { border: 0; }

#item_stats {
    border: 0;
    margin: 0 auto;
    width: 800px;
    height: 600px;
}
.item-image[class~=small] { max-width: 86px; max-height: 86px; margin: 5px; }
.item-image[class~=large] { float: left; width: 512px; height: 512px; }
.item-image[class~=gift-preview] {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    background: #222222;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
}

#item_attrs {
    float: left;
    padding: 8px 0 8px 8px;
    width: 250px;
    text-align: left;
    margin-left: 20px;
    overflow: auto;
}
#item_attrs div { padding: 4px; }
#stat_vertrule { float: left; }

#backpack { width: 90%; margin: 0 auto 0 auto; clear: both; }

.row_odd { background: #353535; }
.row_even { background: #555555; }
#search_table { margin: 0 auto 0 auto; }
#search_table tr td { padding: 6px; }
#search_table a { font-weight: normal; }
#attrib_table tr td { padding: 6px; background: black; }
#attrib_table tr th { background: #555555; padding: 8px; }
#attrib_table { margin: 0 auto 30px auto; text-align: left; }
#search_title { background: #454545; text-align: center; }

#header { text-align: center; clear: both; }

#avatar { top: 2px; position: absolute; width: 32px; height: 32px; left: 10px; }

#logo { width: 389px; height: 126px; margin: 50px auto 50px auto; }

.button {
    margin: 3px;
    position: relative;
    display: inline;
    cursor: pointer;
    background-color: #353535;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.button[class~=inactive], .button[class~=inactive]:hover, .button[class~=inactive]:active {
    background-color: #252525;
    color: gray;
    cursor: default;
}
.button:hover { background-color: #282828; }
.button:active { background-color: #383838; }
a.button { text-decoration: none; }

.tool .button { background-color: #303030; float: left; }
.tool .button:hover { background-color: #202020; }
.tool .dropdown-menu { float: left; }

.dropdown-menu {
    text-align: left;
    margin: 3px;
    position: relative;
    cursor: pointer;
    background-color: #303030;
    background-image: url("dropdown_arrow.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding: 3px 20px 3px 3px;
    border: 1px solid black;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.dropdown-menu b { padding-right: 3px; }
.dropdown-menu:hover { background-color: #202020; }
.dropdown-menu a { color: white; display: block; padding: 5px; width: 100%; height: 100%; text-decoration: none; font-weight: normal; }
.dropdown-menu ul {
    border: 1px solid white;
    border-bottom: 0;
    display: none;
    background: black;
    padding: 0;
    position: absolute;
    top: 0.9em;
    list-style-type: none;
    z-index: 30;
    min-width: 100px;
}
.dropdown-menu ul li { text-align: left; border-bottom: 1px solid white; }
.dropdown-menu ul li:hover { background: #404040; }
.dropdown-menu:hover ul { display: block; }

.toolbar { background: #505050; position: relative; border: 1px solid black; padding: 5px; height: 36px; min-width: 1080px; }
.tool {
    text-align: left;
    padding: 2px 20px 0 20px;
    float: left;
    border-right: 1px solid white;
    height: 34px;
}
