body { background: #303030; color: white; font-family: Arial, Helvetica, sans-serif; }

.item_negative_attr { font-weight: bold; color: #ff0000; }
.item_positive_attr { font-weight: bold; color: #00ff00; }
.item_neutral_attr { font-weight: bold; color: white; }

.unique_name { color: #ffd12f; font-weight: bold; }
.community_name { color: #2fb3ff; font-weight: bold; }
.developer_name { color: #ff00fc; font-weight: bold; }
.normal_name { color: white; font-weight: bold; }
.selfmade_name { color: #00e4ff; font-weight: bold; }

.item_cell {
    margin: 8px;
    background: #3c352e;
    width: 180px;
    height: 180px;
    padding: 10px;
    padding-left: 0;
    text-align: center;
    float: left;
    position: relative;
    z-index: 24;
    /* Yes I'm using non-standard properties. Better than wasting bandwidth
       with corner images */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.item_attribs { display: none; }
.item_attribs div { padding: 4px; text-align: left; }
.item_cell:hover {
    background: #5a4e42;
    z-index: 25;
}
.item_cell:hover .item_attribs {
    display: block;
    position: absolute;
    top: 190px;
    width: 15em;
    background: black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
}

#footer {
    text-align: center;
    background: #202020;
    max-width: 100%;
    padding: 8px;
    clear: both;
}


#header { text-align: center; clear: both; }

#content { margin-left: 90px; height: 100%; text-align: center; }

#userform {
    text-align: center;
    margin-top: 200px;
    margin-left: 40%;
    margin-bottom: 50px;
}

#avatar { font-size: 9px; }

a { color: #cacaca; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { text-decoration: none; color: #a9a9a9; }

#status_online { color: #00ff00; }
#status_offline { color: #808080; }
#status_snooze, #status_away, #status_busy { color: #2fb3ff; }

#navbar { background: #939393; text-align: left; max-width: 100%; padding: 8px; margin-bottom: 15px; }
#navbar a { padding: 8px 4px 8px 4px; color: white; margin-left: 16px; }
#navbar a:hover { background: #535353; text-decoration: none; }

img { border: 0; }
