$var title: $project_name
<div id="header"><h1>Credits</h1></div>
<div id="content">
  <div style="width: 300px; margin: 50px auto 50px auto;">
    <h1>Contributors</h1>
    <ul style="text-align: left;">
      <li><b><a href="$markup.generate_mode_url('user/Pilk')">Pilk</a></b> (Logo, particle effect icons)</li>
      <li><b><a href="$markup.generate_mode_url('user/lhavelund')">lhavelund</a></b> (Favicon/shortcut icon)</li>
      <li><b><a href="$markup.generate_mode_url('user/stragglerastic')">Lagg</a></b> (Author/Maintainer)</li>
    </ul>
  </div>
  <div style="width: 300px; margin: 50px auto 50px auto;">
    <h1>Indirect Contributors</h1>
    <ul style="text-align: left;">
      <li><b>WindPower</b> (Giving Lagg something to do in his spare time besides $project_name)</li>
      <li><b>i-ghost</b> (Ditto)</li>
      <li><b>Athernar</b> (Lagg's favorite arch-rival)</li>
    </ul>
  </div>
</div>
