$var title: About
$var description: First released in 2008, $project_name has gone through many changes and incarnations. It would not be what it is today without helpful input and contributions to keep it and Lagg running.
<div id="content">
    <table class="credits-table">
        <thead>
            <tr><th colspan="2"><h1>Credits</h1></th></tr>
        </thead>
        <tbody>
            <tr><th><a href="http://steamcommunity.com/id/Pilk">Pilk</a></th><td>Logo, particle icons</td></tr>
            <tr><th><a href="http://steamcommunity.com/id/lhavelund">lhavelund</a></th><td>Favicon</td></tr>
            <tr><th><a href="http://steamcommunity.com/id/stragglerastic">Lagg</a></th><td>Author</td></tr>
            <tr><th><a href="http://steamcommunity.com/id/rjackson">RJackson</a></th><td>DOTA 2 class sprites</td></tr>
            <tr><th><a href="http://steamcommunity.com/profiles/76561197997577394/">WindPower</a></th><td>Being there</td></tr>
            <tr><th><a href="http://steamcommunity.com/id/i-ghost">i-ghost</a></th><td>Being there</td></tr>
            <tr><th><a href="http://valvesoftware.com">Valve</a></th><td>For providing the API that Steamodd implements and generally being good guys</td></tr>
        </tbody>
    </table>
</div>
