$def with (app, items, attribute)
$ attrname = attribute.get_name()
$var title: Items with $attrname attached
$var description: Attribute: $attrname, Attached: $len(items)
$ returnurl = markup.generate_root_url('attributes#att-' + str(attribute.get_id()), app)
<div id="header">
  $if not items:
      <h1><a href="$returnurl">No schema items have <b class="attr-$attribute.get_type()">$attrname</b> attached.</a></h1>
</div>
<div id="content" style="margin: 20px;">
  $if items:
      <div class="autosize box" id="attribute-attachments" style="max-width: 590px; margin: 0 auto 15px auto;">
        <div class="titlebar">Items with <b class="attr-$attribute.get_type()">$attrname</b> attached</div>
        $for item in items:
            <div class="slot-item">
            $:markup.generate_item_cell(app, item)
            </div>
      </div>
</div>
<div id="footer">
  <a style="font-size: 1.5em;" href="$returnurl">Back to table</a>
</div>
