$def with (profile_form, countlist)
$var title: $product_name

<script type="text/javascript"><!--
function completion_magic (req, resp) {
  var finalcomp = new Array ();
  $$.getJSON ("${virtual_root}comp/" + req.term, function (data, status) {
    for (var i = 0; i < data.length; i++) {
        finalcomp.push({label: data[i]["persona"], value: data[i]["id"]});
    }

    resp (finalcomp.slice (0, 20));

  });
}
$$(document).ready(function() {
$$("#User").autocomplete({
  minLength: 2,
  source: completion_magic
})});
--></script>

<form id="userform" method="post" action="${virtual_root}user/">
  $if not profile_form.valid:
      <p>Bad profile given</p>
  $:profile_form.render()
</form>
<table id="search_table">
  <tr id="search_title"><td colspan="2"><b>Top Backpacks</b></td></tr>
  <tr class="row_even"><td><b>User</b></td><td><b>Views</b></td></tr>
$for row in countlist:
    $if row["valve"]:
        $ name_suffix = ' <img src="{0}valve.png" alt="Valve" title="Valve Employee"/>'.format(static_prefix)
    $else: $ name_suffix = ""
    <tr class="row_${loop.parity}"><td><a href="${virtual_root}user/$row['id64']">$row["persona"]$:name_suffix</a></td><td>$row["count"]</td></tr>
</table>
