$def with (countlist)
$var title: $project_name

<div id="logo">
  <img width="389" height="126" src="${static_prefix}logo_${game_mode}.png" alt="Logo"/>
</div>
<table id="search_table">
  <tr id="search_title"><td colspan="2"><b>Top Backpacks</b></td></tr>
  <tr class="row_even"><td><b>User</b></td><td><b>Views</b></td></tr>
$for row in countlist:
    $if row[1]:
        $ name_suffix = ' <img src="{0}valve.png" alt="Valve" title="Valve Employee"/>'.format(static_prefix)
    $else: $ name_suffix = ""
    <tr class="row_${loop.parity}"><td><a href="${virtual_root}user/$row[3]">$row[2]$:name_suffix</a></td><td>$row[0]</td></tr>
</table>
