$def with (mod, packs = [], showcase_item = None)
$var js_extra: ${static_prefix}js/profilesearch.js ${static_prefix}js/groupbadge.js
<div id="header"><img id="logo" src="${static_prefix}logo.png" alt="Logo"/></div>

<div id="content">
  <div class="box" style="width: 500px; margin: 0 auto 0 auto;">
    <div class="titlebar">$project_name - The Grand Unified Steam Information Dumper</div>
    <form method="get" id="rp-form" action="$markup.generate_root_url(subroot = 'inv')">
      <fieldset>
	<input type="text" id="rp-input" name="user"/>
	<button type="submit" id="rp-submit">Search</button>
      </fieldset>
    </form>
    <div class="sr-slot"></div>
  </div>
  <div id="rp-results" class="box" style="width: 750px; margin: 0 auto 0 auto; margin-top: 2em; ">
  </div>
  <div id="game-summaries" class="box" style="display: none; border: 0; background: none; width: 750px; margin: 0 auto 0 auto; margin-top: 2em; ">
  </div>
  <div style="width: 500px; min-height: 350px; margin: 30px auto 0 auto; position: relative;">
  $if showcase_item:
      <div class="box" style="width: 220px; position: relative; float: left;">
	<div class="titlebar">Interesting Item of the Hour</div>
        <div class="slot-item" style="margin: 0 auto 0 auto; float: none;">
          $:showcase_item
	</div>
      </div>
  $if packs:
      <div class="box" style="width: 220px; position: relative; float: right;">
	<div class="titlebar">Recent inventories</div>
	<table class="recent-inv">
	  $for p in packs:
            $ pref = markup.generate_root_url('user/{0}'.format(p['id']), p['app'])
            $ place_trunc = p["place"][:10]
            $if len(p["place"]) >= 10: $ place_trunc = place_trunc + "..."
            <tr><td><img src="$p['avatar']" alt="a" width="16" height="16"/></td><td><a href="$pref">$p["persona"]</a></td><td><a title="$p['place'] - $p['app']" href="$pref">$place_trunc</a></td></tr>
	</table>
      </div>
  </div>
</div>

<div id="footer">Powered by <a href="https://github.com/Lagg/steamodd">Steamodd</a></div>
