$def with (user, isvalve, items, views, filter_classes, baditems, stats, filter_qualities, total_pages, appid, price_stats, cell_count)
$ usern = user.get_persona()
$ profileurl = user.get_profile_url()
$ realn = user.get_real_name()
$var title: $project_name - $usern's Backpack
$ rss = markup.generate_mode_url("feed/{0}".format(user.get_id64()))
$ onlinestates = {0: "offline", 1: "online", 2: "busy", 3: "away", 4: "snooze"}
<div id="header" style="position: relative; margin-bottom: 30px;">
  $ cgame = user.get_current_game()
  $ cstatus = onlinestates.get(user.get_status(), "offline")
  $ name_suffix = ""
  $if isvalve:
      $ name_suffix = '<img src="{0}valve.png" alt="Valve" title="Valve Employee"/>'.format(static_prefix)
  $if user.get_visibility() != 3:
      $ name_suffix += '<span class="attr-negative" style="font-weight: normal;"> (private)</span>'
</div>
<div id="content">
  <div class="side-box">
    <div class="header">Player</div>
    <div class="player-badge" style="height: 70px; padding: 4px;">
      <div style="float:left; margin-right: 10px;">
	<a href="$profileurl">
          <img src="$user.get_avatar_url(user.AVATAR_MEDIUM)" alt="$realn" title="$realn"/>
	</a>
      </div>
      <div style="float: left;">
	<b><a href="$profileurl">$usern</a> $:name_suffix</b><br/>
	<span id="status_$cstatus">
        $if cgame:
            Playing \
            $ game_extra = cgame.get("extra", "Unknown")
            $ game_extra_title = game_extra
            $if len(game_extra) >= 20:
                $ game_extra = game_extra[:17] + "..."
            $ game_server = cgame.get("server", "0.0.0.0:0")
            $if cgame.has_key("id"):
                <a href="http://store.steampowered.com/app/$cgame['id']" title="$game_extra_title">$game_extra</a>
            $else:
                $game_extra
            $if game_server != "0.0.0.0:0":
                <a href="steam://connect/$game_server">(Connect)</a>
        $else:
            $cstatus
	</span>
      </div>
    </div>
    <div class="header">Item store worth</div>
    <table>
      <tr><th>Currency</th><th>Total</th><th>Avg.</th></tr>
      $if price_stats["worth"]:
          $ worth = price_stats["worth"]
          $ ckeys = worth.keys()
          $ckeys.sort()
          $for k in ckeys:
              $ sym = price_stats["sym"][k]
              <tr><th>$k</th> <td>$sym$worth[k]</td> <td>$sym$price_stats["avg"][k]</td></tr>
    </table>
    <div class="header">Item statistics</div>
    <table>
      $ typekeys = stats.keys()
      $typekeys.sort()
      $for k in typekeys:
          $if k == "total": $continue
          <tr><th>$k.title()</th><td>$stats[k]</td></tr>
      <tr><th>Total</th><td>$stats["total"] / $cell_count</td></tr>
      $if cell_count <= 50:
          <tr><td colspan="2">User is free to play</td></tr>
      $if cell_count < stats["total"]:
          <tr><th colspan="2" style="color: red;">Pack is over capacity</th></tr>
    </table>
  </div>
  <div class="item-tools">
      <div class="dropdown-menu">
        <b>Sort</b>
        <ul>
          <li><a href="$qurl(sort = None)">Default</a></li>
          <li><a href="$qurl(sort = 'id')">ID</a></li>
          <li><a href="$qurl(sort = 'time')">Time</a></li>
          <li><a href="$qurl(sort = 'level')">Level</a></li>
          <li><a href="$qurl(sort = 'name')">Name</a></li>
          <li><a href="$qurl(sort = 'slot')">Slot</a></li>
          <li><a href="$qurl(sort = 'class')">Class</a></li>
        </ul>
      </div>
      <div class="dropdown-menu">
        <b>Class</b>
        <ul>
          <li><a href="$qurl(sortclass = None)"><img src="${static_prefix}tf_icon.png" alt="All" title="All"/> All</a></li>
          $for k in filter_classes:
              <li>
                <a href="$qurl(sortclass = k)">
                  <img src="${static_prefix}${k}_icon.png" alt="${k}" title="${k}"/> $k
                </a>
              </li>
        </ul>
      </div>
      <div class="dropdown-menu">
        <b>Quality</b>
        <ul>
          <li><a href="$qurl(quality = None)">All</a></li>
          $for q in filter_qualities:
              <li><a href="$qurl(quality = q['id'])"><span class="prefix-${q['str']}">$q["prettystr"]</span></a></li>
        </ul>
      </div>
      <div class="dropdown-menu">
        <b>OPNet</b>
        <ul>
          $for mode in game_modes:
              <li><a href="${virtual_root}${mode[0]}/user/${user.get_id64()}">$mode[1]</a></li>
        </ul>
      </div>
      <a class="button" id="loadout-button" href="$markup.generate_mode_url('loadout/{0}'.format(user.get_id64()))">Loadout</a>
      <a class="button" href="$rss">RSS</a>
  </div>
  <div id="backpack" style="width: 1040px;" class="bp-${appid}-${user.get_id64()}">
    $if len(items) <= 0 and len(baditems) <= 0:
        <h2>Empty!</h2>
    $if len(baditems) > 0:
        <div class="autosize box" style="max-width: 1040px; margin: 15px auto 15px auto;">
	  <div class="titlebar">Displaced items</div>
            $for item in baditems:
                <div class="slot-item">$:markup.generate_cell(item, invalid = True, user = user)</div>
        </div>
    $if price_stats["most-expensive"]:
        $ most_expensive = price_stats["most-expensive"][0]
    $else:
        $ most_expensive = None
    $for p in total_pages:
        <div id="page-${p}" class="backpack-page">
          $ slice = p * 50
          $for item in items[slice - 50:slice]:
              $:markup.generate_cell(item, user = user)
        </div>
  </div>
</div>
<div id="footer">
  $project_name uses the <a href="http://steampowered.com">Steam API</a>
</div>
