$def with (user, pack, isvalve, items, views, filter_classes, sortby, baditems, stats)
$ usern = user.get_persona()
$ profileurl = user.get_profile_url()
$ realn = user.get_real_name()
$var title: $product_name - $usern's Backpack
$ perma = "{0}user/{1}".format(virtual_root, user.get_id64())
$ rss = "{0}feed/{1}".format(virtual_root, user.get_id64())
$def insert_name(pack, item):
    $:item["optf2_cell_name"]
    $ item_color = item.get("optf2_color")
    $if item_color:
        $ painty = '<span style="color: {0}; font-weight: bold;">Painted</span>'.format(item_color)
    $else:
        $ painty = ""
    <div class="item_level">Level $pack.get_item_level(item) $:painty $pack.get_item_type(item)</div>
$def insert_cell(pack, item, user, sortby, invalid = False):
      $if not item:
          $if sortby == "cell":
              $ return '<div class="item_cell" style="width: 90px; height: 90px;"></div>'
          $else:
              $ return '<div class="item_cell"></div>'
      $ item_link = virtual_root + "item/%lu/%lu" % (user.get_id64(), pack.get_item_id(item))
      $ item_id = pack.get_item_id(item)
      $ quality = pack.get_item_quality(item)["str"]
      $if pack.get_item_position(item) <= -1:
          $ cell_class = "item_cell_undropped"
      $else:
          $ cell_class = "item_cell"
      $if sortby == "cell":
          <div class="$cell_class ${quality}_cell minimal_cell" id="s${item_id}" onclick="item_open('${item_link}', '$item_id');">
      $else:
          $ style_extra = ""
          $if invalid:
              $ style_extra = 'style="border-color: #ff0000;"'
          <div class="$cell_class" id="s${item_id}" $:style_extra  onclick="item_open('${item_link}', '$item_id');">
            $:insert_name(pack, item)
        <a class="item_link" href="$item_link">
          <img class="item_image_small" src="$pack.get_item_image(item, pack.ITEM_IMAGE_SMALL)" alt="$pack.get_item_name(item)"/>
        </a>
        $if sortby == "cell":
            $ icon_suffix = "_minimal"
        $else:
            $ icon_suffix = ""
        $if pack.get_item_custom_name(item):
            <img src="${static_prefix}name_tag.png" class="name_icon${icon_suffix}" alt="Named"/>
        $if pack.get_item_custom_description(item):
            <img src="${static_prefix}desc_tag.png" class="desc_icon${icon_suffix}"  alt="Described"/>
        $if "optf2_gift_from" in item:
            <img src="${static_prefix}gift_icon.png" class="gift_icon${icon_suffix}"  alt="Gift"/>
        $if "optf2_color" in item and sortby == "cell":
            <span class="paint_splotch" style="background: $item['optf2_color'];">&nbsp;</span>
        $if len(pack.get_item_equipped_classes(item)) > 0:
            <span class="equipped">Equipped</span>
        $if sortby == "cell":
            <div class="item_attribs" style="top: 105px;">
              $:insert_name(pack, item)
        $else:
            <div class="item_attribs">
        $if item["optf2_description"]:
              <div class="item_neutral_attr" style="font-weight: normal;">
                $item["optf2_description"]
              </div>
        $for attr in item["optf2_attrs"]:
              <div class="item_${pack.get_attribute_type(attr)}_attr">
                $:pack.format_attribute_description(attr).replace("\n", "<br/>")
              </div>
        $if item["optf2_untradeable"]:
              <div class="item_neutral_attr">
                Untradeable
              </div>
        </div>
      </div>

<div id="header" style="position: relative; margin: 20px auto 0 auto; width: 750px; height: 120px;">
  $ cgame = user.get_current_game()
  $ cstatus = user.get_status()
  $if isvalve:
      $ name_suffix = '<img src="{0}valve.png" alt="Valve" title="Valve Employee"/>'.format(static_prefix)
  $else: $ name_suffix = ''
  <div class="toolbox" style="left: 0;">
    <div id="avatar">
      <a href="$profileurl">
        <img src="$user.get_avatar_url(user.AVATAR_MEDIUM)" alt="$realn" title="$realn"/>
      </a>
    </div>
    <div id="statbox">
      <b><a href="$profileurl">$usern</a> $:name_suffix</b>
      <a href="$perma" rel="bookmark">
        <img src="${static_prefix}plink_icon.png" alt="Permalink" title="Permalink"/>
      </a>
      <a href="$rss">
        <img src="${static_prefix}feed_icon.png" alt="RSS" title="Subscribe to an RSS feed of this backpack"/>
      </a>
      <div id="status_$cstatus">
        $if cgame:
            Playing \
            $ game_extra = cgame.get("extra", "Unknown")
            $ game_server = cgame.get("server", "0.0.0.0:0")
            $if cgame.has_key("id"):
                <a href="http://store.steampowered.com/app/$cgame['id']">$game_extra</a>
            $else:
                $game_extra
            $if game_server != "0.0.0.0:0":
                <a href="steam://connect/$game_server">(Connect)</a>
        $else:
            $cstatus
      </div>
      $views
      $if views == 1:
          view
      $else:
          views
      <br/>
      $stats["weapons"] weapons | $stats["hats"] hats | $stats["misc"] misc ($stats["total"] total)
    </div>
  </div>
  <div class="toolbox" style="right: 0px;">
  <div class="sortlinks">
    Sort:
    <a href="$qurl(sort = 'time')">Time</a>
    | <a href="$qurl(sort = 'serial')">Serial</a>
    | <a href="$qurl(sort = 'cell')" style="color: #7f7061; font-weight: bold;">Backpack</a>
    | <a href="$qurl(sort = 'level')">Level</a>
    | <a href="$qurl(sort = 'name')">Name</a>
    | <a href="$qurl(sort = 'slot')">Type</a>
    | <a href="$qurl(sort = 'class')">Class</a>
  </div>
  <div class="sortlinks">
    Filter:
    <a href="$qurl(sortclass = None)"><img src="${static_prefix}tf_icon.png" alt="All" title="All"/></a>
    $for k in filter_classes:
        <a href="$qurl(sortclass = k)">
          <img src="${static_prefix}${k}_icon.png" alt="${k}" title="${k}"/>
        </a>
  </div>
  </div>
</div>
<div id="content">
  $if len(items) <= 0 and len(baditems) <= 0:
      <h2>Empty!</h2>
  $if sortby == "cell":
      <div id="backpack" style="width: 1090px;">
  $else:
      <div id="backpack">
  $ cell_count = 0
  $ x_count = 0
  $if len(baditems) > 0:
      $for item in baditems:
          $:insert_cell(pack, item, user, sortby, invalid = True)
      $if sortby == "cell":
          <div style="clear: both; margin-bottom: 20px;">&nbsp;</div>
  $for item in items:
      $if sortby == "cell":
          $if cell_count >= 50:
              <div style="clear: both; margin: 10px 0 10px 0;">&nbsp;</div>
              $ cell_count = 0
          $if x_count >= 10:
              <span style="clear: both; margin: 0;">&nbsp;</span>
              $ x_count = 0
      $ cell_count += 1
      $ x_count += 1
      $:insert_cell(pack, item, user, sortby)
  </div>
</div>
<div id="footer">
  Valve says I should link to <a href="http://steampowered.com">this</a>.
</div>
