$def with (user, items, views, filter_classes, baditems, stats, filter_qualities, appid, price_stats, cell_count)
$ usern = user["persona"]
$ id64 = user["id64"]
$ profileurl = "http://steamcommunity.com/profiles/{0}".format(id64)
$ avatarurl = user["avatarurl"]
$ realn = user.get("realname")
$var title: $project_name - $usern's Backpack
$ rss = markup.generate_mode_url("feed/{0}".format(id64))
$ onlinestates = {0: "offline", 1: "online", 2: "busy", 3: "away", 4: "snooze", 5: "looking to trade", 6: "looking to play"}
<div id="content">
  <div class="item-tools">
      <div class="dropdown-menu">
        <b>Sort</b>
        <ul>
          <li><a href="$qurl(sort = None)">Default</a></li>
          <li><a href="$qurl(sort = 'id')">ID</a></li>
          <li><a href="$qurl(sort = 'time')">Time</a></li>
          <li><a href="$qurl(sort = 'level')">Level</a></li>
          <li><a href="$qurl(sort = 'name')">Name</a></li>
          <li><a href="$qurl(sort = 'slot')">Slot</a></li>
          <li><a href="$qurl(sort = 'class')">Class</a></li>
        </ul>
      </div>
      $if filter_classes:
        <div class="dropdown-menu">
          <b>Class</b>
          <ul>
            <li><a href="$qurl(sortclass = None)"><img src="${static_prefix}tf_icon.png" alt="All" title="All"/> All</a></li>
            $for cid, name in filter_classes:
              <li>
                <a href="$qurl(sortclass = cid)">
                  $:markup.generate_class_sprite_img(cid) $name
                </a>
              </li>
          </ul>
	</div>
      $if filter_qualities:
        <div class="dropdown-menu">
          <b>Quality</b>
          <ul>
            <li><a href="$qurl(quality = None)">All</a></li>
            $for label, id in filter_qualities:
              <li><a href="$qurl(quality = id)"><span class="prefix-$id">$label</span></a></li>
          </ul>
	</div>
      <div class="dropdown-menu">
        <b>Other games</b>
        <ul>
          $for mid, label in game_modes.iteritems():
              <li><a href="${virtual_root}${mid}/user/${id64}">$label</a></li>
        </ul>
      </div>
      <a class="button" id="loadout-button" href="$markup.generate_mode_url('loadout/{0}'.format(id64))">Loadout</a>
      <a class="button" href="$rss">RSS</a>
  </div>
  <div id="backpack" style="width: 1040px;" class="bp-${appid}-${id64}">
    <div class="side-box">
      <div class="header">Player</div>
      <div class="player-badge">
        <div>
	  <a href="$profileurl">
            <img src="$avatarurl" alt="$realn" title="$realn"/>
	  </a>
        </div>
        <div>
	  $ name_suffix = ""
	  $ isvalve = user.get("valve")
	  $if isvalve:
              $ name_suffix = '<img src="{0}valve.png" alt="Valve" title="Valve Employee"/>'.format(static_prefix)
	  $if user.get("private"):
	      $ name_suffix += '<span class="attr-negative" style="font-weight: normal;"> (private)</span>'
	  <b><a href="$profileurl">$usern</a> $:name_suffix</b><br/>
	  $ scode = user.get("status")
	  $ statclass = onlinestates.get(scode, '')
	  $ status = "status: {0}".format(scode)
	  $if not statclass: $ statclass = "online"
	  $else:
	      $ status = statclass
	      $ statclass = statclass.replace(' ', '')
	  <span id="status-$statclass">
            $if "game" in user:
                $ gid, gname, gserver = user["game"]
                Playing <a href="http://store.steampowered.com/app/${gid or 0}" title="$gname">${gname or "Unknown"}</a>
                $if gserver: <a href="steam://connect/$gserver">(Connect)</a>
            $else:
                $status
	  </span>
        </div>
      </div>
      $if price_stats["worth"]:
          <div class="header">User's expenses</div>
          <table>
	    <tr><th>&nbsp;</th><th>Total</th><th>Avg.</th></tr>
            $ worth = price_stats["worth"]
            $ ckeys = worth.keys()
            $ckeys.sort()
            $for k in ckeys:
                $ sym = price_stats["sym"][k]
                <tr><th>$k</th> <td>$sym$worth[k]</td> <td>$sym$price_stats["avg"][k]</td></tr>
          </table>
      <div class="header">Item statistics</div>
      <table>
        $ typekeys = stats.keys()
        $typekeys.sort()
        $for k in typekeys:
            $if k == "total": $continue
            <tr><th>$k.title()</th><td>$stats[k]</td></tr>
        <tr><th>Total</th><td>$stats["total"] / $cell_count</td></tr>
        $if cell_count <= 50:
            <tr><td colspan="2">User is free to play</td></tr>
        $if cell_count < stats["total"]:
            <tr><th colspan="2" style="color: red;">Pack is over capacity</th></tr>
      </table>
    </div>
    $if len(items) <= 0 and len(baditems) <= 0:
        <h2>Empty!</h2>
    $if len(baditems) > 0:
        <div class="autosize box" style="max-width: 1040px; margin: 15px auto 15px auto;">
	  <div class="titlebar">Displaced items</div>
            $for item in baditems:
                <div class="slot-item">$:markup.generate_cell(item, invalid = True, user = user)</div>
        </div>
    $ pagekeys = items.keys()
    $ pagekeys.sort()
    $for k in pagekeys:
        <div id="page-${k}" class="backpack-page">
	  <a class="page-label button" href="#page-$k">$k</a>
          $for item in items[k]:
              $:markup.generate_cell(item, user = user)
        </div>
  </div>
</div>
