$def with (user, item, pack, outdated)
$ qitem = pack.get_item_quality(item)
$if not user:
    $ usern = "Schema"
$else:
    $ usern = user.get_persona() + "'s"
$var title: $project_name - $usern $item["optf2_title_name"]
$def generate_class_icon_link(classes):
    $for ec in classes:
        <a href="${wiki_url + ec}">
          <img src="${static_prefix}${ec}_icon.png" title="$ec" alt="$ec"/>
        </a>&nbsp;
<div id="header">
  <h1 class="prefix-${qitem['str']}">
    $if not user:
        $ plink_user = "from_schema"
        $ urlpart = "schema_dump"
    $else:
        $ plink_user = user.get_id64()
        $ urlpart = "user/{0}".format(plink_user)
    <a href="${virtual_root}${urlpart}">$usern</a> $:item["optf2_dedicated_name"]
  </h1>
</div>
<div id="content">
  <div id="item_stats" class="dedicated_item">
  <img id="item_image_large" src="$item['optf2_image_url_large']" alt="$usern $item['optf2_title_name']"/>
  <img id="stat_vertrule" src="${static_prefix}vertical.gif" height="600" width="1" alt="divider"/>
  <div id="item_attrs">
  $ item_wiki_url = wiki_url + encode_url(pack.get_item_name(item))
  <div class="item-level">
    Level $item["optf2_level"] $item["optf2_type"]
  </div>
  $if item["optf2_description"]:
      <div class="item-description">
        $item["optf2_description"]
      </div>
  $for attr in item["optf2_attrs"]:
      $ desc = pack.format_attribute_description(attr)
      <div class="attr-${pack.get_attribute_type(attr)}">
        $if "optf2_gift_from" in item and pack.get_attribute_name(attr) == "gifter account id":
            Gift from <a href="${virtual_root}user/${item['optf2_gift_from']}">$item["optf2_gift_from_persona"]</a>
        $elif "optf2_gift_content" in item and pack.get_attribute_name(attr) == "referenced item def":
            Contains <span class="prefix-${item['optf2_gift_quality']}">$item["optf2_gift_content"]</span>
            <a href="${virtual_root}item/${pack.get_item_id(item)}?contents=1">(more)</a>
        $else:
            $:desc.replace("\n", "<br/>")
      </div>
  $if item["optf2_untradeable"]:
      <div class="attr-neutral">
        Untradeable
      </div>
  $if user:
      $ serial = pack.get_item_id(item)
      $if "optf2_gift_from" in item and not serial:
          <div class="attr-positive">
            Unopened <a href="${virtual_root}item/${item['optf2_gift_container_id']}">Gift</a> from
            <a href="${virtual_root}user/${item['optf2_gift_from']}">$item["optf2_gift_from_persona"]</a>
          </div>
      $elif serial:
          <div class="attr-neutral">
            Serial: <span id="item_id">$serial</span>
          </div>
      <div class="attr-neutral">
        $ pos = pack.get_item_position(item)
        Position: \
        $if pos <= -1:
            Not in backpack yet!
        $else:
            $pos
      </div>
      <div class="attr-neutral">
        $ equipped = pack.get_item_equipped_classes(item)
        Equipped: \
        $if len(equipped) > 0:
            $:generate_class_icon_link(equipped)
        $else:
            No
      </div>
      $ quantity = pack.get_item_quantity(item)
      $if quantity > 1:
          <div class="attr-neutral">
            Uses: $quantity
          </div>
      $if outdated:
          <div class="attr-negative" style="font-weight: normal">
            This item is out of date. It may have been deleted or customized.
          </div>
  $else:
      <div class="attr-neutral">
        $ schema_id = pack.get_item_schema_id(item);
        ID: <span id="item_id">$schema_id</span>
      </div>
      <div class="attr-neutral">
        $ equipable = pack.get_item_equipable_classes(item)
        Classes: \
        $if len(equipable) <= 0 or not equipable[0]:
            Not equipable
        $else:
            $:generate_class_icon_link(equipable)
      </div>
  <br/><a href="$item_wiki_url">Official TF Wiki Article</a>
  </div>
  </div>
</div>
