$def with (user, item, pack)
$ itemn = pack.get_item_custom_name(item)
$ qitem = pack.get_item_quality(item)
$if not itemn:
    $ itemn = qitem["prettystr"] + " " + pack.get_item_name(item)
$ usern = user.get_persona()
$var title: $product_name - $usern's $itemn

<div id="header">
  <h1 class="${qitem['str']}_name">
    <a href="${virtual_root}user/${user.get_id64()}">$usern's</a> $itemn
    <a href="${virtual_root}item/${user.get_id64()}/${pack.get_item_id(item)}">
      <img src="${static_prefix}plink_icon.png" alt="Permalink" title="Permalink"/>
    </a>
  </h1>
</div>
<div id="content">
  <div id="item_stats">
  <img id="item_image_large" src="$pack.get_item_image(item, pack.ITEM_IMAGE_LARGE)" alt="$usern's $itemn"/>
  <img id="stat_vertrule" src="${static_prefix}vertical.gif" height="600" width="1" alt="divider"/>
  <div id="item_attrs">
  $ item_wiki_url = wiki_url + encode_url(pack.get_item_name(item))
  $for attr in pack.get_item_attributes(item):
      $ desc = pack.format_attribute_description(attr)
      $if desc.find("Attrib_") == -1:
          <div class="item_${pack.get_attribute_type(attr)}_attr">
              $if desc.find("\n") != -1:
                  $:desc.replace("\n", "<br/>")
              $else:
                  $desc
          </div>
  <div class="item_neutral_attr">
    Serial: $pack.get_item_id(item)
  </div>
  <div class="item_neutral_attr">
    $ pos = pack.get_item_position(item)
    Position: \
    $if pos <= -1:
        Not in backpack yet!
    $else:
        $pos
  </div>
  <div class="item_neutral_attr">
    $ equipped = pack.get_item_equipped_classes(item)
    Equipped: \
    $if len(equipped) > 0:
        $for ec in equipped:
            <a href="${wiki_url + ec}">
              <img src="${static_prefix}${ec}_icon.png" title="$ec" alt="$ec"/>
            </a>&nbsp;
    $else:
        No
  </div>
  <br/><a href="$item_wiki_url">Official TF2 Wiki Article</a>
  $# Begin complaint code (remove this when Valve fixes their crap
  $if itemn.find("The ") != -1:
      <br/><br/><a href="http://forums.steampowered.com/forums/forumdisplay.php?f=15">(Complain to Valve about this incorrect title)</a>
  $# End complaint code
  </div>
  </div>
</div>
