$def with (user, item, outdated, price = None, caps = None)
$ wikiname, wikiurl = wiki_map.get(instance.current_game, (None, None))
$if not user:
    $ usern = "Schema"
$else:
    $ usern = user["persona"] + "'s"
    $ id64 = user["id64"]
$var title: $project_name - $usern $:item["ownedname"]
<div id="header">
  <h1>
    $if not user:
        $ plink_user = "from_schema"
        $ urlpart = "items"
    $else:
        $ plink_user = id64
        $ urlpart = "user/{0}".format(plink_user)
    $ coloroverride = item.get("namergb")
    $ style = ''
    $ quality = item.get("quality", "normal")
    $if coloroverride: $ style = ' style="color: #{0};"'.format(coloroverride)
    <a href="$markup.generate_mode_url(urlpart)">$usern</a>
    $if "container" in item: <span class="prefix-giftwrapped">Giftwrapped</span>
    <span class="prefix-$quality"$:style>$:item["ownedname"]</span>
  </h1>
</div>
<div id="content">
  <div id="item_stats" class="dedicated_item">
    <div class="item-zoom">
      <img class="item-image large" src="$item['imagelarge']" alt="$usern $:item['ownedname']"/>
      $ pid = item.get("pid")
      $ texture = item.get("texture")
      $if pid:
          <img class="icon-particle large" src="$markup.generate_particle_icon_url(pid)" alt="Picon"/>
      $if texture:
	  <img class="icon-custom-texture large" src="$texture" alt="texture"/>
    </div>
  <img class="stat_vertrule" src="${static_prefix}vertical.gif" height="100%" width="1" alt="divider"/>
  <div class="item-attrs">
  $ item_wiki_url = None
  $if wikiurl: $ item_wiki_url = wikiurl + encode_url(item["basename"])

  $:markup.generate_item_type_line(item)

  $:markup.generate_item_description(item)

  $:markup.generate_attribute_list(item, showlinks = True)

  <img src="${static_prefix}vertical.gif" height="1" width="100%" alt="divider"/>

  <ul class="attribute-list">
    $:markup.generate_item_paint_line(item)
  $if user:
      $ serial = item.get("id")
      $ container = item.get("container")
      $if container:
          <li class="attr-positive">
            Unopened <a href="$markup.generate_mode_url('item/{0}/{1}'.format(id64, container))">Gift</a> from
	    $ giftgiver = item.get("gifter")
	    $if giftgiver:
                <a href="$markup.generate_mode_url('user/{0}'.format(giftgiver['id64']))">$giftgiver["persona"]</a>
          </li>
      $elif serial:
          <li class="attr-neutral">ID: <span id="item_id">$serial</span></li>
          $ oid = item.get("oid")
	  $if oid: <li class="attr-neutral">Last ID: $oid</li>
      <li class="attr-neutral">
        $ pos = item.get("pos")
        Position: ${pos or "Not in backpack yet!"}
      </li>
      $ equipped = item.get("equipped")
      $if equipped:
          <li class="attr-neutral">Equipped: $:markup.generate_class_icon_links(equipped, user = user, wiki_url = wikiurl)</li>
      $if outdated:
          <li class="attr-negative" style="font-weight: normal">
            This item is out of date. It may have been deleted or customized.
          </li>
  $else:
      <li class="attr-neutral">
        ID: <span id="item_id">$item["sid"]</span>
      </li>
      $ equipable = item.get("equipable")
      $if equipable:
          <li class="attr-neutral">Used by: $:markup.generate_class_icon_links(equipable, user = user, wiki_url = wikiurl)</li>
      $ slot = item.get("slot")
      $if slot:
          <li class="attr-neutral">Slot: $slot.title()</li>
      $if price: <li class="attr-neutral">$price</li>
  </ul>
  $if caps:
      <ul class="capability-list">
        <li>Capabilities</li>
        $ capfmt = '<li style="padding: 2px 0 2px 0;">{0[0]}</li>'
	$:''.join(map(capfmt.format, caps))
      </ul>
  <ul class="button-list">
    $if item_wiki_url:
        <li><a class="button" href="$item_wiki_url">$wikiname article</a></li>
    $if user:
        <li><a class="button" href="$markup.generate_mode_url('item/{0}'.format(item['sid']))">Schema version</a></li>
  </ul>
  </div>
  </div>
</div>
