$def with (user, items, classlist, slotlist)
$var title: $project_name - Loadout List

<div id="header">
  <h2><a href="${virtual_root}user/${user.get_id64()}">${user.get_persona()}'s</a> <span style="color: #dddddd;">Loadouts</span></h2>
</div>
<div id="content">
  $if items:
      <div style="margin: 0 auto 0 auto; width: 90%;">
        $for lclass in classlist:
            <div class="loadout-box" id="$lclass">
              <div class="titlebar">
                <img style="position: absolute; left: 2px; top: 2px;" src="${static_prefix}${lclass}_icon.png" alt="class icon"/>
                <a id="$lclass" href="#$lclass" style="margin-left: 30px;">$lclass</a>
              </div>
              $for slot in slotlist:
                  $if lclass not in items or slot not in items[lclass]:
                      $ continue
                  <div class="slot-item">
                    <div><b>$slot</b></div>
                  $for item in items[lclass][slot]:
                      $:markup.generate_cell(item, show_equipped = False)
                  </div>
            </div>
      </div>
</div>
