$def with (app, particles)
$var title: $app - Particles
$var description: List of all particles (with preview images) in $app
<div id="header">
  <h2>All particle effects</h2>
</div>
<div id="content">
  <div id="particle-list">
  $for k, particle in particles.iteritems():
      $ url = markup.generate_particle_icon_url(particle['id'], app)
      <div class="item_cell" style="background-image: url('$url');">
        <a href="$url" target="_blank" class="item-link"></a>
        <div class="tooltip">
          <div class="item-name">$particle["name"]</div>
          <div class="attr-neutral">ID: $particle["id"]</div>
          <div class="attr-positive">System name: $particle["system"]</div>
        </div>
      </div>
  </div>
</div>
