$def with (user, context)
$var title: Op Inv - Game Selection
$var description: List of $user['persona']'s inventories
<div id="content">
  $for ctx in context:
    <div class="box" style="width: 500px; margin: 0 auto 2em auto;">
      <div class="titlebar" style="height: 28px;">
	<img style="width: 24px; height: 24px; vertical-align: middle;" src="$ctx['icon']" alt="icon"/>
	$ctx["name"] - $ctx["asset_count"] items
      </div>
      $ appid = str(ctx['appid'])
      $ url = markup.generate_root_url('user/{0}'.format(user['id64']), appid)
      <a href="$url"><img src="$ctx['inventory_logo']" alt="logo"/></a><br/>
      <table style="text-align: left; margin: 0 auto 0 auto;" cellpadding="4" cellspacing="4">
	$for id, cat in ctx["rgContexts"].iteritems():
	  <tr><th><a href="${url + '#page-' + cat['name']}">$cat["name"]:</a></th><td>$cat["asset_count"]</td></tr>
	<tr><th>Trade permissions:</th><td>$ctx["trade_permissions"]</td></tr>
      </table>
      <a href="$ctx['link']" style="position: absolute; right: 5px; bottom: 10px;" target="_blank">Store</a>
    </div>
</div>
